/* Estilo geral para a barra de navegação */
.navbar {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaça os itens principais */
    padding: 0 20px; /* Adiciona espaçamento interno */
    box-sizing: border-box;
    background-color: #fff; /* Cor de fundo */
}

/* Logo */
.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo img {
    width: 150px; /* Ajuste o tamanho do logotipo */
    height: auto;
    object-fit: cover;
}

/* Links de navegação */
.navbar-links {
    display: flex;
    align-items: center;
    gap: 40px; /* Espaçamento entre os links */
}

.navbar-links a {
    font-size: 18px;
    font-weight: 500;
    color: #278844;
    text-decoration: none;
    transition: all 0.3s;
    padding: 10px 15px; /* Adiciona área clicável */
    border-radius: 25px; /* Deixa o hover arredondado */
}

.navbar-links a:hover {
    background: #278844;
    color: #fff;
}

/* Redes sociais */
.navbar-social {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaço entre os ícones */
}

.navbar-social a {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Largura fixa */
    height: 40px; /* Altura fixa */
    border-radius: 50%;
    color: #278844;
    transition: all 0.3s;
    background: transparent;
}

.navbar-social a:hover {
    color: #fff;
    background: #278844;
}

/* Estilos individuais para os ícones */
#instagram {
    color: #C13584;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#instagram:hover {
    color: #fff;
    transition: all 0.5s;
    border-radius: 50%;
    background: linear-gradient(#405DE6, #C13584, #FCAF45);
}

#whatsapp {
    color: #25d366;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#whatsapp:hover {
    color: #fff;
    transition: all 0.5s;
    border-radius: 50%;
    background: #25d366;
}

#facebook {
    color: #3b5998;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#facebook:hover {
    color: #fff;
    transition: all 0.5s;
    border-radius: 50%;
    background: #3b5998;
}
