.main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sugestao-content{
    width: 70%;
    height: 800px;
    border-radius: 25px;
    background-color: #278844;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sugestao-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.sugestao-text{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sugestao-text p{
    font-size: 24px;
    color: #fff;
    margin-left: 20px;
    margin-bottom: 50px;
}

.sugestao-form {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sugestao-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.sugestao-form h1{
    font-size: 20px;
    color: #fff;
}

.sugestao-form input{
    background-color: #fff;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}

.sugestao-form textarea{
    background-color: #fff;
    width: 300px;
    height: 150px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    resize: none;
}

.sugestao-form form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

.sugestao-form form .btn-enviar button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 10px;
    background: #fff;
    color: #007e26;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
}

.sugestao-form form .btn-enviar button:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
    transform: scale(1.05);
    transition: all 0.3s;
    background: #00d640;
    color: #fff;
}

.title-sugestao{
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        text-transform: uppercase;
        color: #278844;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}